<div [ngClass]="{watchlistContainer:true, slideIn: openWatchlist == true }">
    <button (click)="toogleWatchlist()" [ngClass]="{btnOpenWatchlist: true, active: openWatchlist== true}">
        <img src="../../../assets/icons/watchlist.svg" alt=" Icon watchlist" />
    </button>
    <h1>Watchlist</h1>
    <app-fav-movie *ngIf="moviesOnWatchlist; else emptyList" [moviesOnWatchlist]="moviesOnWatchlist"
        (removeMovie)="removeMovie($event)"></app-fav-movie>
    <ng-template #emptyList>
        <h5 class="emptyList">Watchlist is empty</h5>
    </ng-template>
</div>