@import "../../variables.scss";

.watchlistContainer {
  width: 300px;
  height: 100vh;
  position: fixed;
  padding: 1em;
  top: 0;
  right: -300px;
  background-color: #fff;
  transition: 0.25s all ease;
  z-index: 999;

  &.slideIn {
    transform: translateX(-300px);
  }

  .btnOpenWatchlist {
    position: absolute;
    top: 30vh;
    left: -30px;
    width: 30px;
    height: 150px;
    border: none;
    border-radius: 100% 0% 0% 100% / 80% 15% 85% 20%;
    background-color: $neonColor;
    transition: 0.25s ease;
    outline: none;
    cursor: pointer;
    &.active {
      img {
        background-color: #fff;
        border-radius: 5px;
      }
    }
    &:hover {
      border-radius: 100% 0% 0% 100% / 12% 100% 0% 88%;
    }
  }

  h5.emptyList {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
